@use "../abstracts" as *;

:root {
  @each $color, $shade-map in $active-theme {
    @each $shade, $value in $shade-map {
      --#{$color}-#{$shade}: #{$value};
    }
  }

  @if ($enable-media-query-dark-mode) {
    @media (prefers-color-scheme: dark) {
      @each $color, $shade-map in $dark {
        @each $shade, $value in $shade-map {
          --#{$color}-#{$shade}: #{$value};
        }
      }
    }
  }

  @each $screen-size, $size-map in $font-sizes {
    @if $screen-size == sm {
      @each $size-name, $size-value in $size-map {
        --fs-#{$size-name}: #{$size-value};
      }
    } @else {
      @include mq($screen-size) {
        @each $size-name, $size-value in $size-map {
          --fs-#{$size-name}: #{$size-value};
        }
      }
    }
  }

  --zBase: 0;
  --zAbove: 1;
  --zBelow: -1;
  --zHighest: 99;
  --zDropdown: 1000;
  --zSticky: 1020;
  --zFixed: 1030;
  --zModalBackdrop: 1040;
  --zOffcanvas: 1040;
  --zModal: 1050;
  --zPopover: 1060;
  --zTooltip: 1070;
}
