@use "../abstracts/" as *;

.#{$prefix} {
  &input {
    &__group {
      position: relative;
      width: 100%;
    }

    &__floating-label {
      position: absolute;
      top: 5px;
      left: 12px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.1s ease;
    }

    &__input {
      &:focus,
      &:not(:placeholder-shown) {
        & ~ .bzi-input__floating-label {
          top: -8px;
          left: 8px;
          font-size: var(--fs-200);
          font-weight: $font-weight-bold;
          background-color: var(--neutral-000);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
